<html>
	<head>
	</head>
		<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
		<script src="https://npmcdn.com/react@15.3.1/dist/react.js"></script>
		<script src="https://npmcdn.com/react-dom@15.3.1/dist/react-dom.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react-router/2.8.0/ReactRouter.min.js"></script>
	<body>
		<h1>Hi And Welcome :)</h1>
		<div class="login">
			<a href="#/login">Log in</a>
			<a href="#/signup">Sign up</a>
		</div>
		<div id="loginForm"></div>
		<div id="app"></div>
	</body>
	<script type="text/babel" src="/scripts/bundle.js"/>
</html>